.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(1.2);
    left: -5%;
    top: -9%;
}
    .i-right>:nth-child(2){
        top: -4.6%;
        transform: scale(1.2);
        left: 3rem;
    }
    .i-right>:nth-child(3){
    transform: scale(1.1);
    left: 28%;
}   

@media screen and (max-width: 480px){
    .i-right{
        transform: : scale();
    }
}